:root {
    /* color scheme */
    --background: rgb(32, 32, 32);
    --background-active: rgb(64, 64, 64);
    --background-translucent: rgb(32, 32, 32, 0.5);
    --background-collection: rgb(32, 32, 64);
    --background-unknown: rgb(64, 32, 32);
    --foreground: white;
    --foreground-visited: rgb(128, 128, 128);
    --hover: white;
}

body {
    font-family: 'Trebuchet MS', 'DejaVu Sans', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    overflow-y: scroll;
    margin: 0;
}
/* body * { outline-style: solid; outline-width: 1px; } */
html::-webkit-scrollbar {
    background-color: var(--background);
    width: 5px;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--background-active);
}
a {
    text-decoration: none;
    color: inherit;
}
input.filter {
    display: none;
}

/*
    header
*/

div.header {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

nav {
    position: absolute;
    top: 5px;
    opacity: 0;
    padding: 5px 10px;
    background-color: var(--background-active);
    z-index: 2;
}
nav.left {
    left: 5px;
}
nav.right {
    right: 5px;
}
nav:hover {
    opacity: 1;
}

img.poster {
    margin: 0;
    margin-right: 50px;
    margin-bottom: auto;
    flex: none;
}

div.details {
    margin: 0;
    margin-right: 50px;
    flex: auto;
}
div.details h1 {
    margin-top: 0;
    width: fit-content;
}
div.details :last-child {
    margin-bottom: 0;
}

div.play {
    margin: 0;
    flex: none;
}
div.play ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.play li {
    padding: 5px 20px;
    border: 1px solid transparent;
    background-color: var(--background-active);
    margin-bottom: 5px; 
}
div.play li:hover {
    border: 1px solid var(--hover);
}
div.play a:visited li {
    color: var(--foreground-visited);
}

div.genres   {
    margin-top: auto;
    flex: none;
    margin-right: 50px;
    background-color: inherit;
    position: relative;
}
div.genres .dropdown {
    background-color: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 100%;
    z-index: 1;
}
div.genres label {
    user-select: none;
    padding: 5px;
    border: 1px solid transparent;
    display: none;
    width: 150px;
    text-align: center;
}
div.genres label:hover {
    border: 1px solid var(--hover);
}
div.genres:hover label,
div.genres label.placeholder {
    display: block;
}
div.genres:hover .dropdown {
    outline: 1px solid var(--background-translucent)
}

div.mediatypes {
    margin-top: auto;
    flex: none;
}
div.mediatypes label {
    user-select: none;
    padding: 5px;
    border: 1px solid transparent;
    width: 80px;
    display: inline-block;
    text-align: center;
}
div.mediatypes label:hover {
    border: 1px solid var(--hover);
}
#Mall:checked ~ div #MLall,
#Mmovie:checked ~ div #MLmovie,
#Mseries:checked ~ div #MLseries,
#Mcollection:checked ~ div #MLcollection {
        background-color: var(--background-active);
}
#Mmovie:checked ~ div .entry:not(.movie),
#Mseries:checked ~ div .entry:not(.series, .season),
#Mcollection:checked ~ div .entry:not(.collection) {
    display: none;
}

div.details .imdbRatingPlugin {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}
div.details .ofTen {
    display: none;
}
div.details img {
    vertical-align: text-top;
}
div.details dl {
    width: 100%;
}
div.details dt {
    font-weight: bold;
    width: 1.5em;
    display: inline-block;
}
div.details dd {
    display: inline;
    margin: 0;
}
div.details dd:after {
    content: '\A';
    white-space: pre;
}
div.details hr {
    width: 200px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: inherit;
    height: 1px;
    border: 0;
}


/*
    entries
    grid layout with cell size 185 x 278 (TMDb's 'w185' poster size)
*/

div.entries {
    display: grid;
    grid-template-columns: repeat( auto-fit, 185px );
    grid-auto-rows: 278px;
    margin: 0;
    justify-content: center;
    gap: 10px;
}
.entry {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
}
div.info {
    opacity: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--background-translucent);
}
div.info h2 {
    font-size: 1.3em;
}
.entry:hover div.info {
    opacity: 1;
    backdrop-filter: blur(2px);
}
.entry * {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.entry.collection {
    border: 1px solid transparent;
    background-color: var(--background-collection);
}
.entry.collection div.info {
    opacity: 1;
}
.entry.collection:hover {
    border: 1px solid var(--hover);
}
.entry.unknown {
    background-color: var(--background-unknown);
}
