<!doctype html>
<head>{% set series = season.info["series"] %}
    <title>{{ series["name"] }}{% if series["name_en"] %} ({{ series["name_en"] }}{% endif %} – {{ season.info["name"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <script src="{{ url_for('static', filename='actions.js') }}"></script>
</head>
<body>
    <div class="header">
        <nav class="left">
            <a href="javascript:window.history.back();" title="back">◀</a>
            <a href="javascript:window.history.forward();" title="forward">▶</a>
        </nav>
        <nav class="right">
            <a href=".." title="up">▲</a>
            <a href="javascript:refresh()" title="refresh">⟳</a>
            <a href="javascript:open()" title="open">↦</a>
        </nav>
        {% set url = season.info["poster_url"] %}<img class="poster" src="{{ url }}">
        <div class="details">
            <h1 title="{{ series.path }}">
                {{ series["name"] }}{% if series["name_en"] %}
                <span class="original">({{ series["name_en"] }})</span>{% endif %}
            </h1>
            <p>Series, {{ series["countries"]}} {{ series["years"] }}, {{ series["runtime"] }} min</p>
            <dl>
                <dt>C</dt> <dd>{{ series["creators"] }}</dd>
                <dt>A</dt> <dd>{{ series["actors"] }}</dd>
            </dl>
            <p>{{ ', '.join(series["genres"]) }}</p>
            <p>Ratings:
                {% set imdb_id = series['imdb_id'] %}<a class="imdbRatingPlugin" data-style="p4"
                    data-title="{{ imdb_id }}"
                    href="https://www.imdb.com/title/{{ imdb_id }}/" target="_blank">
                    <img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_37x18.png">
                    <script id="imdb-rating-api"
                            src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js">
                    </script>
                </a>
                <a href="https://www.themoviedb.org/tv/{{ series.tmdb_id }}" target="_blank">
                    <img height="18" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg">
                    <span class="rating">{{ series['vote_average']}}</span>
                </a>
            </p>
            <hr>
            <h2>{{ season.info["name"] }}</h2>
            <p>{{ season.info["year"] }}</p>
        </div>
        <div class="play">
            <ul>
            {% for episode in season.episodes %}
                <a href="?play={{ loop.index0 }}" title="{{ episode[1] }}"><li>{{ episode[0] }}</li></a>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
