<!doctype html>
<head>
    <title>Idaho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
    <div class="header">
        <nav class="left">
            <a href="javascript:window.history.forward();" title="forward">▶</a>
        </nav>
        <div class="details">
            <h1>Idaho</h1>
        </div>
    </div>
    <div class="entries">
{% for name in sources %}{% set entry = sources[name] %}
{% include 'entry_tile.html' %}
{%- endfor %}
    </div>
</body>
